html, body {
    font: 16px/20px 'Stolzl-Medium', sans-serif;
    min-width: 320px;
}
.shadow{
    position: fixed;
    top: 0;
    left: 400px;
    z-index: 9999;
    width: 35%;
    height: 50px;
    background-color: #ecf0f1;
}
.p-3{
    padding:0!important;
}
.nav-item {
    padding-top: 7px;
    padding-right: 30px;
    margin: 0 25px 0 0;
    cursor: pointer;
}
.nav-link {
    border-radius: 16px;
    background-color: transparent;
    color: black;
    position: relative;
    height: 60px;
    transition: all 300ms ease 0;
    height:40px;
}
.nav-link:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    height: 3px;
    background: red;
    transition: all .5s;
    width: 0;
}
.nav-link:hover:before {
    background: gold;
    left: 0;
    right: 0;
    width: 100%;
}
.nav-link:hover{
    color:darkslateblue;
}

.jumbotron {
    margin-top: 100px;
    background-color:transparent;
    margin-left:50px;
}
hr {
    position: relative;
    height: 5px;
    border:0;
}
hr:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    height: 3px;
    background: #E91E63;
    transition: all .3s;
    width: 0;
}
hr:hover:before {
    background: #3F51B5;
    left: 0;
    right: 0;
    width: 100%;
}
.btn-group-lg > .btn, .btn-lg {
    padding: .5rem 6rem;
    margin-left: 80px;
    margin-top: 20px;
}
.btn-lg {
    text-decoration: none;
    outline: none;
    display: inline-block;
    line-height: 45px;
    border-radius: 45px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    color: #524f4e;
    background: #ecf0f1;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
    border-color: transparent;
}
    .btn-lg:hover {
        background: #2EE59D;
        box-shadow: 0 15px 20px rgba(46,229,157,.4);
        color: white;
        transform: translateY(-7px);
        border-color: #2EE590;
    }
.display-4{
    margin-bottom:20px;
}
.jumbotron1 {
    margin-top: 150px;
    background-color: transparent;
    margin-left: 50px;
}

.pometka{
    position:relative;
    width:1px;
    height:1px;
    background-color:black;
    border:0px;
    top:55px;
}
.faq{
    margin-left:300px;
    margin-top:100px;
}
.client {
    margin: 70px 0 100px 500px;
    background-color: transparent;

    z-index: 2;
}
.crmp {
    margin: 0 20px 100px 0;
}
.modpack {
    margin: 0 0 100px 500px;
}

.clientbtn {
    text-decoration: none;
    outline: none;
    color: black;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    border: 1px solid;
    border-color:transparent;
    border-image-slice: 1;
    margin: 10px 20px;
    font-size:1.6rem;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165,.84,.44,1);
    background-color:transparent;
    margin-left:100px;
    width:200px;
    padding-left:55px;
    border-radius:20px;
    right: 100px;
}

    .clientbtn:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 0;
        width: 100%;
        z-index: -1;
        color: white;
        /* IE9, iOS 3.2+ */
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzgzMDA5OCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNTkzIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2Y2MDBkZSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
        background-image: -webkit-gradient(linear, 100% 100%, 0% 0%,color-stop(0, rgb(0, 0, 0)),color-stop(0.593, rgb(131, 0, 152)),color-stop(1, rgb(246, 0, 222)));
        /* Android 2.3 */
        background-image: -webkit-repeating-linear-gradient(bottom right,rgb(0, 0, 0) 0%,rgb(131, 0, 152) 59.3%,rgb(246, 0, 222) 100%);
        /* IE10+ */
        background-image: repeating-linear-gradient(to top left,rgb(0, 0, 0) 0%,rgb(131, 0, 152) 59.3%,rgb(246, 0, 222) 100%);
        background-image: -ms-repeating-linear-gradient(bottom right,rgb(0, 0, 0) 0%,rgb(131, 0, 152) 59.3%,rgb(246, 0, 222) 100%);
        transition: .8s cubic-bezier(.165,.84,.44,1);
    }

.clientbtn:hover {
    color:white;
    text-decoration:none;
    background: rgba(255,255,255,0);
}

.clientbtn:hover:before {
        bottom: 0%;
        top: auto;
        height: 100%;
    }
    .clientbtn1 {
        text-decoration: none;
        outline: none;
        color: black;
        display: inline-block;
        position: relative;
        padding: 15px 30px;
        border: 1px solid;
        border-color:transparent;
        border-image-slice: 1;
        margin: 10px 20px;
        font-size:1.6rem;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: 2px;
        transition: .8s cubic-bezier(.165,.84,.44,1);
        background-color:transparent;
        margin-left:100px;
        width:200px;
        padding-left:55px;
        border-radius:20px;
        left: 130px;
        bottom: 78px;
    }
    .clientbtn1:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 0;
        width: 100%;
        z-index: -1;
        color: white;
        /* IE9, iOS 3.2+ */
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIHN0b3AtY29sb3I9IiNmM2VmMTUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzAwOTg4NSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNTkzIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzAwOTg4NSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
        background-image: -webkit-gradient(linear, 100% 100%, 0% 0%,color-stop(0, rgb(243, 239, 21)),color-stop(0.593, rgb(0, 152, 133)),color-stop(1, rgb(0, 152, 133)));
        /* Android 2.3 */
        background-image: -webkit-repeating-linear-gradient(bottom right,rgb(243, 239, 21) 0%,rgb(0, 152, 133) 59.3%,rgb(0, 152, 133) 100%);
        /* IE10+ */
        background-image: repeating-linear-gradient(to top left,rgb(243, 239, 21) 0%,rgb(0, 152, 133) 59.3%,rgb(0, 152, 133) 100%);
        background-image: -ms-repeating-linear-gradient(bottom right,rgb(243, 239, 21) 0%,rgb(0, 152, 133) 59.3%,rgb(0, 152, 133) 100%);
        transition: .8s cubic-bezier(.165,.84,.44,1);
        }

.clientbtn1:hover {
    color:white;
    text-decoration:none;
    background: rgba(255,255,255,0);
}

.clientbtn1:hover:before {
        bottom: 0%;
        top: auto;
        height: 100%;
    }
    .icodisk{
      width: 35px;
    }
    .icodiskcon{
      position: relative;
      top: 52px;
      left: 7px;
    }
    .icotorrent{
      width: 35px;
    }
    .icotorrentcon{
      position: relative;
      float: right;
      top: 19px;
      right: 330px;
    }
    .client .box{
      overflow: hidden;
      transition: 0.5s;
      z-index: 2;
      box-sizing: border-box;
    }
    .client .bg{
      position: absolute;
      top:595px;
      left: 0;
      z-index: 1;
      opacity: 0;
      background-color: : #000;
      transition: 0.5s;
      pointer-events: none;
      width: 100%;
      height: 100%;
    }
    .client .box.box1:hover ~ .bg{
      opacity: 0.3;
      /* IE9, iOS 3.2+ */
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzgzMDA5OCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNTkzIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2Y2MDBkZSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
      background-image: -webkit-gradient(linear, 100% 100%, 0% 0%,color-stop(0, rgb(0, 0, 0)),color-stop(0.593, rgb(131, 0, 152)),color-stop(1, rgb(246, 0, 222)));
      /* Android 2.3 */
      background-image: -webkit-repeating-linear-gradient(bottom right,rgb(0, 0, 0) 0%,rgb(131, 0, 152) 59.3%,rgb(246, 0, 222) 100%);
      /* IE10+ */
      background-image: repeating-linear-gradient(to top left,rgb(0, 0, 0) 0%,rgb(131, 0, 152) 59.3%,rgb(246, 0, 222) 100%);
      background-image: -ms-repeating-linear-gradient(bottom right,rgb(0, 0, 0) 0%,rgb(131, 0, 152) 59.3%,rgb(246, 0, 222) 100%);
      transition: .8s cubic-bezier(.165,.84,.44,1);
    }
    .client .box{
      overflow: hidden;
      transition: 0.5s;
      z-index: 2;
      box-sizing: border-box;
    }
    .client .bg1{
      position: absolute;
      top:595px;
      left: 0;
      z-index: 1;
      opacity: 0;
      background-color: : #000;
      transition: 0.5s;
      pointer-events: none;
      width: 100%;
      height: 100%;
    }
    .client .box.box2:hover ~ .bg1{
      opacity: 0.4;
      /* IE9, iOS 3.2+ */
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIHN0b3AtY29sb3I9IiNmM2VmMTUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzAwOTg4NSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNTkzIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzAwOTg4NSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
      background-image: -webkit-gradient(linear, 100% 100%, 0% 0%,color-stop(0, rgb(243, 239, 21)),color-stop(0.593, rgb(0, 152, 133)),color-stop(1, rgb(0, 152, 133)));
      /* Android 2.3 */
      background-image: -webkit-repeating-linear-gradient(bottom right,rgb(243, 239, 21) 0%,rgb(0, 152, 133) 59.3%,rgb(0, 152, 133) 100%);
      /* IE10+ */
      background-image: repeating-linear-gradient(to top left,rgb(243, 239, 21) 0%,rgb(0, 152, 133) 59.3%,rgb(0, 152, 133) 100%);
      background-image: -ms-repeating-linear-gradient(bottom right,rgb(243, 239, 21) 0%,rgb(0, 152, 133) 59.3%,rgb(0, 152, 133) 100%);
    }
    ::-webkit-scrollbar{
      background: transparent;
      width: 11px;
    }
    ::-webkit-scrollbar-track{
      border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb{
      background-color: #95a5a6;
      border-radius: 0px;
    }
    ::-webkit-scrollbar-thumb:hover{
      border-radius: 10px;
    }
.crmpbtn{
  text-decoration: none;
  color: #000;
  background: none;
  border: 2px solid #E91E63;
  font-family: "montserrat", sans-serif;
  text-transform: uppercase;
  padding: 12px 50px;
  min-width: 200px;
  margin:100px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
}
.crmpbtn:hover{
  text-decoration: none;
  color: #fff;
}
.crmpbtn::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #E91E63;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.crmpbtn1::before{
  transform: scaleY(0);
}
.crmpbtn1:hover::before{
  transform:scaleY(1);
}
.btnmod{
  border: 1px solid #34495e;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: .8s;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}
.btnmod1,.btnmod2{
  color:#34495e;
}
.btnmod1:hover,.btnmod2:hover{
  text-decoration: none;
  color:#fff;
}
.btnmod::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #34495e;
  z-index: -1;
  transition: 0.8s;
}
.btnmod1::before{
  top:0;
  border-radius: 0 0 50% 50%;
}
.btnmod2:before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btnmod1:hover::before,.btnmod2:hover::before{
  height: 180%;
}
.list-group-item{
  background-color: #ecf0f1;
}
@media (min-width: 576px){
  .shadow{
    left: 70px;
    width: 80%;
  }
  .faq{
    margin-left: 30px;
    margin-top: 0;
  }
  .nav{
    margin-right: 25px;
  }
  .client{
    margin-top:0;
    margin-left: 30px;
  }
  .icotorrentcon{
    right: 200px;
  }
  .modpack{
    margin-left: 30px;
    margin-top:0px;
  }
  .server{
    margin-left:30px;
  }
  .crmp{
    margin-top:0;
    margin-left: 30px;
  }
 }

 @media (min-width: 768px){
   .shadow{
     left: 150px;
     width: 60%;
   }
   .faq{
     margin-left: 0;
     margin-top: 0;
   }
   .nav{
     margin-right: 50px;
   }
   .client{
     margin-top:0;
     margin-left: 30px;
   }
   .icotorrentcon{
     right: 380px;
   }
   .modpack{
     margin-left: 30px;
     margin-top:0px;
   }
   .server{
     margin-left:30px;
   }
   .crmp{
     margin-top:0;
     margin-left: 30px;
   }
   .jumbotron{
     margin-left: 0;
   }
 }

 @media (min-width: 992px){
   .shadow{
     left:160px;
     width: 50%;
   }
   .faq{
     margin-left: 0px;
     margin-top: 0;
   }
   .client{
     margin-top:0;
     margin-left: 30px;
   }
   .nav{
     margin-right: 25px;
   }
   .clientbtn1{
     left:0px;
     bottom: 0;
    }
   .modpack{
     margin-left: 30px;
     margin-top:0px;
   }
   .icotorrentcon{
     right: 430px;
   }
 }
