body {
    font: 16px/20px 'Stolzl-Medium', sans-serif;
}
.shadow{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: white;
}
.p-3{
    padding:0!important;
}
.nav-item {
    padding-top: 7px;
    padding-right: 30px;
    margin: 0 25px 0 0;
    cursor: pointer;
}
.nav-link {
    border-radius: 16px;
    background-color: transparent;
    color: black;
    position: relative;
    height: 60px;
    transition: all 300ms ease 0;
    height:40px;
}
.nav-link:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    height: 3px;
    background: red;
    transition: all .5s;
    width: 0;
}
.nav-link:hover:before {
    background: gold;
    left: 0;
    right: 0;
    width: 100%;
}
.nav-link:hover{
    color:darkslateblue;
}

.jumbotron {
    margin-top: 100px;
    background-color:transparent;
    margin-left:50px;
}
hr {
    position: relative;
    height: 5px;
    border:0;
}
hr:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    height: 3px;
    background: red;
    transition: all .3s;
    width: 0;
}
hr:hover:before {
    background: blue;
    left: 0;
    right: 0;
    width: 100%;
}
.btn-group-lg > .btn, .btn-lg {
    padding: .5rem 6rem;
    margin-left: 80px;
    margin-top: 20px;
}
.btn-lg {
    text-decoration: none;
    outline: none;
    display: inline-block;
    line-height: 45px;
    border-radius: 45px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
    border-color: transparent;
}
    .btn-lg:hover {
        background: #2EE59D;
        box-shadow: 0 15px 20px rgba(46,229,157,.4);
        color: white;
        transform: translateY(-7px);
        border-color: #2EE590;
    }
.display-4{
    margin-bottom:20px;
}
.jumbotron1 {
    margin-top: 150px;
    background-color: transparent;
    margin-left: 50px;
}

.pometka{
    position:relative;
    width:1px;
    height:1px;
    background-color:black;
    border:0px;
    top:55px;
}
.faq{
    margin-left:300px;
    margin-top:100px;
}
.client {
    margin: 70px 0 100px 500px;
}
.crmp {
    margin: 0 20px 100px 0;
}
.modpack {
    margin: 0 0 100px 500px;
}

.clientbtn {
    text-decoration: none;
    outline: none;
    color: black;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    border: 1px solid;
    border-color:white;
    border-image-slice: 1;
    margin: 10px 20px;
    font-size:1.6rem;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165,.84,.44,1);
    background-color:transparent;
    margin-left:100px;
    width:200px;
    padding-left:55px;
    border-radius:20px;
    right: 100px;
}

    .clientbtn:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 0;
        width: 100%;
        z-index: -1;
        color: white;
        /* IE9, iOS 3.2+ */
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzgzMDA5OCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNTkzIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2Y2MDBkZSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
        background-image: -webkit-gradient(linear, 100% 100%, 0% 0%,color-stop(0, rgb(0, 0, 0)),color-stop(0.593, rgb(131, 0, 152)),color-stop(1, rgb(246, 0, 222)));
        /* Android 2.3 */
        background-image: -webkit-repeating-linear-gradient(bottom right,rgb(0, 0, 0) 0%,rgb(131, 0, 152) 59.3%,rgb(246, 0, 222) 100%);
        /* IE10+ */
        background-image: repeating-linear-gradient(to top left,rgb(0, 0, 0) 0%,rgb(131, 0, 152) 59.3%,rgb(246, 0, 222) 100%);
        background-image: -ms-repeating-linear-gradient(bottom right,rgb(0, 0, 0) 0%,rgb(131, 0, 152) 59.3%,rgb(246, 0, 222) 100%);
        transition: .8s cubic-bezier(.165,.84,.44,1);
    }

.clientbtn:hover {
    color:white;
    text-decoration:none;
    background: rgba(255,255,255,0);
}

.clientbtn:hover:before {
        bottom: 0%;
        top: auto;
        height: 100%;
    }
    .clientbtn1 {
        text-decoration: none;
        outline: none;
        color: black;
        display: inline-block;
        position: relative;
        padding: 15px 30px;
        border: 1px solid;
        border-color:white;
        border-image-slice: 1;
        margin: 10px 20px;
        font-size:1.6rem;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: 2px;
        transition: .8s cubic-bezier(.165,.84,.44,1);
        background-color:transparent;
        margin-left:100px;
        width:200px;
        padding-left:55px;
        border-radius:20px;
        left: 130px;
        bottom: 78px;
    }
    .clientbtn1:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 0;
        width: 100%;
        z-index: -1;
        color: white;
        /* IE9, iOS 3.2+ */
        /* IE9, iOS 3.2+ */
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIHN0b3AtY29sb3I9IiNmM2VmMTUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzAwOTg4NSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNTkzIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzAwOTg4NSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
        background-image: -webkit-gradient(linear, 100% 100%, 0% 0%,color-stop(0, rgb(243, 239, 21)),color-stop(0.593, rgb(0, 152, 133)),color-stop(1, rgb(0, 152, 133)));
        /* Android 2.3 */
        background-image: -webkit-repeating-linear-gradient(bottom right,rgb(243, 239, 21) 0%,rgb(0, 152, 133) 59.3%,rgb(0, 152, 133) 100%);
        /* IE10+ */
        background-image: repeating-linear-gradient(to top left,rgb(243, 239, 21) 0%,rgb(0, 152, 133) 59.3%,rgb(0, 152, 133) 100%);
        background-image: -ms-repeating-linear-gradient(bottom right,rgb(243, 239, 21) 0%,rgb(0, 152, 133) 59.3%,rgb(0, 152, 133) 100%);
        transition: .8s cubic-bezier(.165,.84,.44,1);
        }

.clientbtn1:hover {
    color:white;
    text-decoration:none;
    background: rgba(255,255,255,0);
}

.clientbtn1:hover:before {
        bottom: 0%;
        top: auto;
        height: 100%;
    }
    .icodisk{
      width: 35px;
    }
    .icodiskcon{
      position: relative;
      top: 52px;
      left: 7px;
    }
    .icotorrent{
      width: 35px;
    }
    .icotorrentcon{
      position: relative;
      float: right;
      top: 19px;
      right: 330px;
    }
