body {
    font: 16px/20px 'Stolzl-Medium', sans-serif;
}
.nav-item{
    padding-top:20px;
    padding-right:15px;
    margin:0 25px 0 0;
}
.nav-link {
    border-radius: 16px;
    background-color: transparent;
    color: black;
    position: relative;
    height: 60px;
    transition: all 300ms ease 0;
    height:40px;
}
.nav-link:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    height: 3px;
    background: red;
    transition: all .5s;
    width: 0;
}
.nav-link:hover:before {
    background: gold;
    left: 0;
    right: 0;
    width: 100%;
}
.nav-link:hover{
    color:darkslateblue;
}

.jumbotron {
    margin-top: 30px;
    background-color:transparent;
    margin-left:50px;
}
hr {
    position: relative;
    height: 5px;
    border:0;
}
hr:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    height: 3px;
    background: red;
    transition: all .5s;
    width: 0;
}
hr:hover:before {
    background: blue;
    left: 0;
    right: 0;
    width: 100%;
}
.btn-group-lg > .btn, .btn-lg {
    padding: .5rem 6rem;
    margin-left:80px;
    margin-top:20px;
}
.btn-lg {
    text-decoration: none;
    outline: none;
    display: inline-block;
    line-height: 45px;
    border-radius: 45px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
    border-color:transparent;
}
    .btn-lg:hover {
        background: #2EE59D;
        box-shadow: 0 15px 20px rgba(46,229,157,.4);
        color: white;
        transform: translateY(-7px);
        border-color: #2EE590;
    }
.display-4{
    margin-bottom:20px;
}